.wrapper::before {
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  background-color: #333333;
  color: white;
  border-radius: 50px;
  float: left;
  width: 49px;
  height: 49px;
  text-align: center;
  line-height: 49px;
  font-size: 28px;
  content: "\f02d";
}

.article {
  border-left: solid;
  margin-top: -15px;
  margin-left: 25px;
  padding: 25px 25px 5px 25px ;
}

.article::after {
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  background-color: #333333;
  color: #333333;
  border-radius: 50px;
  float: left;
  padding: 0;
  margin-left: -30px;
  margin-bottom: 45px;
  width: 9px;
  height: 9px;
  text-align: center;
  font-size: 5px;
  content: "";
}

.article-title::before {
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  background-color: #20B2AA;
  color: white;
  border-radius: 50px;
  float: left;
  width: 36px;
  height: 36px;
  margin-top: -10px;
  margin-left: -5px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  content: "\f061";
}

.article-title {
  /*overflow-x: hidden;*/
  background-color: #333333;
  border-radius: 6px;
  color: white;
  margin-left: -40px;
  margin-top: -5px;
  padding: 5px 0;
}
